# GlitchTip
VITE_GLITCHTIP_DSN=https://app.glitchtip.com/24496

# Umami Analytics 
VITE_UMAMI_WEBSITE_ID=XXXXXX-XXXXXXX-XXXXXX
VITE_UMAMI_URL=http://xxx:3001
VITE_UMAMI_USERNAME=xxxx
VITE_UMAMI_PASSWORD=*****
